{% extends "base.html" %}

{% block head_title %}
all posts
{% endblock head_title %}
{% block content %}
<ul>
    {% for post in posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-primary btn-block" href="/create" >create new</a>
        </div>
    </div>
{% endblock content %}
