{% extends "base.html" %}

{% block head_title %}
Create a Post
{% endblock head_title %}

{% block content %}
<form method="POST" action="">{% csrf_token %} {% comment %}csrf is required always. it will not work without it{% endcomment %}
    {{ form.as_p }} {% comment %} as_p means take the form and present it as a <p>{% endcomment %}
    {% if update_post %}
        <button>Update Post</button>
    {% else %}
        <button>Create Post</button>
    {% endif %}
</form>
{% endblock content %}