{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
    SalsaPlaces
{% endblock head_title %}

{% block document_head %}
    <link rel="stylesheet" href='{% static "css/google_map.css" %}'/>
{% endblock document_head %}

{% block content %}
    <h1>Welcome to salsa places</h1>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script src='{% static "js/google_map.js" %}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"
            async defer></script>
    <br/>

    <a class="btn btn-primary" href="/list">List Posts</a>
{% endblock content %}
