{% extends "base.html" %}

{% block head_title %}
post.title
{% endblock head_title %}

{% block content %}
<ul>
    <li>{{ post.title }}</li>
    <li>{{ post.content|linebreaks }}</li>
    <li>written by: {{ post.author }}</li>
</ul>
    <div class="row">
        <div class="col-lg-2">
            <a href="{{ post.get_edit_url }}" class="btn btn-primary btn-block">Edit Post</a>
        </div>
        <div class="col-lg-2">
            <a href="{{ post.get_delete_url }}" class="btn btn-primary btn-block">Delete Post</a>
        </div>
        <div class="col-lg-2">
            <a href="{{ post.back_to_posts }}" class="btn btn-primary btn-block">Go Back</a>
        </div>
    </div>
{% endblock content %}
